<% @results.each do |experience| -%>
  <li class="experience">
    <%= l(experience.created_at.to_date) -%>
    <%= link_to (truncate(experience.title.titleize, length: 45, omission: '...')), experience_path(experience), title: experience.title.titleize -%>
    <%= t('psychlopedia.misc.by') -%>
    <%= experience.pseudonym -%>
  </li>
<%- end -%>
